@import "tailwindcss";

.leaflet-tooltip {
	display: inline-block !important;
	background-color: rgba(255, 255, 255, 0.95) !important;
  	color: #1a1a1a !important;
  	font-weight: 500 !important;
  	font-size: 1.4rem !important;
	@media (min-width: 768px) {
    		font-size: 1.6rem; /* md: */
  	}
  	padding: 8px 12px !important;
  	border-radius: 12px !important;
  	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  	border: none !important;
  	width: 16rem;
	@media (min-width: 640px) {
    		width: 20rem; /* sm: */
  	}
  	@media (min-width: 768px) {
  	  width: 24rem; /* md: */
  	}
  	@media (min-width: 1024px) {
  	  width: 30rem; /* lg: */
  	}
  	text-align: center;
  	line-height: 1.4;
  	backdrop-filter: blur(4px);
  	
  	overflow-wrap: break-word;
  	word-break: normal;
  	white-space: normal;
}

